/* components.module.css */

.Header {
    background-color: #F3EEE1;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.30);
}

.logo {
    width: 30%;
    height: fit-content;
    margin-left: 3%;
}

.color1,
.color2,
.color3,
.color4 {
    float: left;
    width: 25%;
    padding: 2%;
    color: black;
    text-align: center;
}

.paleta::after {
    content: "";
    clear: both;
    display: table;
}

.paleta {
    margin: 3%;
}

.color1 {
    color: white;
    background-color: #000000;
}

.color2 {
    background-color: #F3EEE1;
}

.color3 {
    background-color: #EC5E32;
}

.color4 {
    background-color: #F3F1A2;
}

.section {
    height: 100vh;
    background-image: url("../imágenes/img1.jpg");
    background-position: center;
    background-size: cover;
    position: relative; /* Añade posición relativa para que los elementos se superpongan correctamente */
}

.headerImageContainer {
    position: relative;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.headerImage {
    width: 100%;
    height: auto;
}

.Imagecomponents {
    height: 500px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.PrimerText {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Koulen';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    padding: 20px; /* Agrega relleno alrededor del texto */
}

.BloquePrecios {
    background-color: #F3EEE1;
    width: 100%;
    margin-bottom: 8px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.30);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los objetos horizontalmente */
    flex-direction: row; /* Coloca los objetos en línea horizontalmente */
}

.PreciosCuadro {
    width: 100px; /* Ancho del rectángulo */
    height: 80px; /* Altura del rectángulo */
    border: 2px solid black; /* Borde de 2 píxeles de ancho y color negro */
    background-color: transparent; /* Sin relleno (transparente) */
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra horizontalmente el contenido */
    justify-content: center; /* Centra verticalmente el contenido */
    justify-content: space-evenly;
}

.Cantidades {
    color: #000;
    font-family: 'KoPub Batang';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Cantidades .texto {
    margin-bottom: 10px; /* Espacio vertical entre cada texto */
}


.TituloPrecios {
    width: 30%;
    height: fit-content;
    margin-left: 3%;
    color: #3D3B38;
    font-family: 'Koulen';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section2 {
    height: 100vh;
    background-image: url("../imágenes/img2.jpg");
    background-position: center;
    background-size: cover;
    position: relative; /* Añade posición relativa para que los elementos se superpongan correctamente */
}

.Imagecomponents2 {
    height: 500px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.SegundoText {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Koulen';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    padding: 20px; /* Agrega relleno alrededor del texto */
}

.headerImageContainer2 {
    position: relative;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.headerImage {
    width: 100%;
    height: auto;
}

.BloquePrecios2 {
    background-color: #F3EEE1;
    width: 100%;
    margin-bottom: 8px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.30);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los objetos horizontalmente */
    flex-direction: row; /* Coloca los objetos en línea horizontalmente */
}

.PreciosCuadro2 {
    width: 335px; /* Ancho del rectángulo */
    height: 120px; /* Altura del rectángulo */
    border: 2px solid black; /* Borde de 2 píxeles de ancho y color negro */
    background-color: transparent; /* Sin relleno (transparente) */
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra horizontalmente el contenido */
    justify-content: center; /* Centra verticalmente el contenido */
    justify-content: space-evenly;
}

.Cantidades2 {
    color: #000;
    font-family: 'KoPub Batang';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Cantidades2 .texto {
    margin-bottom: 10px; /* Espacio vertical entre cada texto */
}

.TituloPrecios2 {
    width: 30%;
    height: fit-content;
    margin-left: 3%;
    color: #3D3B38;
    font-family: 'Koulen';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section3 {
    height: 100vh;
    background-image: url("../imágenes/img3.jpg");
    background-position: center;
    background-size: cover;
    position: relative; /* Añade posición relativa para que los elementos se superpongan correctamente */
}

.Imagecomponents3 {
    height: 500px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.TercerText {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Koulen';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    padding: 20px; /* Agrega relleno alrededor del texto */
}

.Description {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'KoPub Batang', serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    text-align: right; /* Alinea el texto a la derecha */
    padding-top: 100px; /* Agrega relleno alrededor del texto */
    padding-left: 500px; /* Agrega relleno alrededor del texto */
    padding-bottom: 220px;
    padding-right: 15px;
}

.headerImageContainer3 {
    position: relative;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.headerImage {
    width: 100%;
    height: auto;
}

.BloquePrecios3 {
    background-color: #F3EEE1;
    width: 100%;
    margin-bottom: 8px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.30);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los objetos horizontalmente */
    flex-direction: row; /* Coloca los objetos en línea horizontalmente */
}

.PreciosCuadro3 {
    width: 100px; /* Ancho del rectángulo */
    height: 80px; /* Altura del rectángulo */
    border: 2px solid black; /* Borde de 2 píxeles de ancho y color negro */
    background-color: transparent; /* Sin relleno (transparente) */
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra horizontalmente el contenido */
    justify-content: center; /* Centra verticalmente el contenido */
    justify-content: space-evenly;
}

.Cantidades3 {
    color: #000;
    font-family: 'KoPub Batang';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Cantidades3 .texto {
    margin-bottom: 10px; /* Espacio vertical entre cada texto */
}


.TituloPrecios3 {
    width: 30%;
    height: fit-content;
    margin-left: 3%;
    color: #3D3B38;
    font-family: 'Koulen';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section4 {
    height: 100vh;
    background-image: url("../imágenes/img4.jpg");
    background-position: center;
    background-size: cover;
    position: relative; /* Añade posición relativa para que los elementos se superpongan correctamente */
}

.Imagecomponents4 {
    height: 500px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.CuartoText {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Koulen';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    padding: 20px; /* Agrega relleno alrededor del texto */
}

.Description2 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'KoPub Batang', serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    text-align: right; /* Alinea el texto a la derecha */
    padding-top: 100px; /* Agrega relleno alrededor del texto */
    padding-left: 500px; /* Agrega relleno alrededor del texto */
    padding-bottom: 220px;
    padding-right: 15px;
}

.headerImageContainer4 {
    position: relative;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.headerImage {
    width: 100%;
    height: auto;
}

.BloquePrecios4 {
    background-color: #F3EEE1;
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.30);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los objetos horizontalmente */
    flex-direction: row; /* Coloca los objetos en línea horizontalmente */
}

.PreciosCuadro4 {
    width: 100px; /* Ancho del rectángulo */
    height: 80px; /* Altura del rectángulo */
    border: 2px solid black; /* Borde de 2 píxeles de ancho y color negro */
    background-color: transparent; /* Sin relleno (transparente) */
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra horizontalmente el contenido */
    justify-content: center; /* Centra verticalmente el contenido */
    justify-content: space-evenly;
}

.Cantidades4 {
    color: #000;
    font-family: 'KoPub Batang';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Cantidades4 .texto {
    margin-bottom: 10px; /* Espacio vertical entre cada texto */
}


.TituloPrecios4 {
    width: 30%;
    height: fit-content;
    margin-left: 3%;
    color: #3D3B38;
    font-family: 'Koulen';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  
.Container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una fila */
    justify-content: space-between; /* Distribuye el espacio disponible entre los elementos */
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
    padding: 0;
    background-color: #F3EEE1;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.30);
    font-family: 'century gothic';
  }
  
  /* Ajusta el ancho de los elementos internos y el espacio entre ellos */
  .Container > * {
    flex: 1; /* Hace que cada elemento tome igual de espacio disponible */
    margin: 3px; /* Espacio entre los elementos, puedes ajustarlo según tus preferencias */
    max-width: calc(47% - 6px); /* Ajusta el ancho máximo de los elementos */
  }
  
  /* Espacio adicional en los bordes izquierdo y derecho del contenedor */
  .Container::before,
  .Container::after {
    content: "";
    flex: 1; /* Añade espacio adicional en los bordes */
    max-width: calc(3% - 6px); /* Ajusta el espacio adicional en los bordes */
  }  
  
  .Button {
    background-color: #C74441;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  .Button:hover {
    background-color: #E7CA4C;
  }
  
  .Sections {
    display: flex;
    flex-direction: column; /* Cambia la dirección a horizontal (en la misma línea) */
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 10vh; /* Ajusta la cantidad de espacio en la parte superior según tus preferencias */
  }
  
  .Sections > * {
    margin: 0 5px; /* Espacio horizontal muy pequeño entre elementos */
  }
  
  
  /* Logo and Social Media Icons */
  .Logo {
    width: 150px;
    height: 85px;
    margin-left: 160px;
    margin-top: 50px;
  }

  .LogoImg {
    width: 120%;
    height: fit-content;
  }
  
  .RedesSociales {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 15px;
  }
  
  .Nombre {
    margin-right: 10px;
    color: #000000;
    font-size: 16px;
  }

  .TwImg {
    width: 8%;
    height: fit-content;
  }

  .BotonTwLinkIcono {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }

  .BotonYtLinkIcono {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }

  .BotonInstaLinkIcono {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }
  
  .BotonFbLinkIcono {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }
  
  /* Additional Styles */
  .body {
    background-color: #000;
    color: #fff;
    font-family: 'csentury gothic';
    margin-top: 0px;
  }
  
  .Contacto {
    display: flex;
    font-size: 36px;
    text-align: center;
    justify-content: center;
    width: 500px;
    color: #000000;
  }

  .wrapper {
    width: 500px;
    background-color: #F4F197;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 0px;
    padding: 10px 40px;
  }

  .wrapper .caja {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #F3EEE1;
    margin: 30px 0;
    border-radius: 0px;
    color: #fff;
  }

  .caja input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 0px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
  }

  .caja input::placeholder {
    color: black;
    font-weight: bold;
  }

  .caja i {
    display: flex;
    align-items: center;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }

  .wrapper .button {
    width: 100%;
    height: 45px;
    background: #EC5E32;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
  }

  .button a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
  }

  .button a:hover {
    text-decoration: underline;
  }

  .Final {
    display: flex;
    width: 500px;
    justify-content: center;
  }

  @media screen and (max-width: 600px)  {
  .Container{
  display: flex;
  flex-direction: column;
  align-items: center;

  }
  .Logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
}