.carouselImages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carouselImg img {
  max-height: 400px;
  border-radius: 8px;
  border: #ff00008e solid 2px;



}
.slidedirection {
  display: flex;
  justify-content: space-evenly;
}
.left,
.right {
  background-color: #fb666675;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
.flechasvg{
  margin-top: 5px;
  margin-right: 1px;
}
.flechaizsvg{
  margin-top: 5px;
  margin-left: 2px;
}



.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;    
}
.active {
  background-color: #fa2020;
}   
.carruseltexto{
  display: flex;
  font-size: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  max-width: 300px;
}

.dotspace{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  max-width: 500px;
  margin-bottom: 20px;
}

