.carouselImages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carouselImg img {
  max-width: 600px;
  max-height: 275px;
  border-radius: 8px;
  border: #EC5E32 solid 2px;


}
.slidedirection {
  display: flex;
  justify-content: space-evenly;
}
.left,
.right {
  background-color: #fb666675;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
.flechasvg{
  margin-top: 5px;
  margin-right: 1px;
}
.flechaizsvg{
  margin-top: 5px;
  margin-left: 2px;
}



.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;    
}
.active {
  background-color: #fa2020;
}   
.carruseltexto{
  display: flex;
  font-size: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  max-width: 300px;
}

.dotspace{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  max-width: 800px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  
  .carouselImages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carouselImg img {
    max-width: 900px;
    max-height: 500px;
    border-radius: 8px;
    border: #EC5E32 solid 2px;
  
  
  
  }
  .slidedirection {
    display: flex;
    justify-content: space-evenly;
  }
  .left,
  .right {
    background-color: #fb666675;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    align-items: center;
  }
  .flechasvg{
    width: 30px;
  }
  .flechaizsvg{

    width: 30px;
  }
  
  
  
  .dot {
    background-color: #333;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;    
  }
  .active {
    background-color: #fa2020;
  }   
  
  .dotspace{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    max-width: 1000px;
    margin-bottom: 20px;
  }


}
