.Header {
    background-color: #F3EEE1;
    height: 100%;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.55);
    position: sticky;
    top: 0;
}

.botonLogo {
    width: 40%;
    background-color: #F3EEE1;
    border: 0;
}

.logo {
    width: 100%;
    height: fit-content;
    margin-left: 3%;
}

.color1,
.color2,
.color3,
.color4 {
    float: left;
    width: 25%;
    padding: 2%;
    color: black;
    text-align: center;
}

.paleta::after {
    content: "";
    clear: both;
    display: table;
}

.paleta {
    margin: 3%;
}

.color1 {
    color: white;
    background-color: #000000;
}

.color2 {
    background-color: #F3EEE1;
}

.color3 {
    background-color: #EC5E32;
}

.color4 {
    background-color: #F3F1A2;
}

.fila {
    grid-template-columns: auto auto;
    margin-bottom: 7px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.30);
}

.container {
    position: relative;
    background-color: #F3EEE1;
}

.img {
    width: 100%;
    height: max-content;
}

.titulo,
.texto,
.texto3 {
    position: absolute;
    color: #ffffff;
}

.titulo {
    top: 18%;
    left: 2%;
    font-size: 100%;
}

.texto,
.texto3 {
    top: 22%;
    left: 64%;
    right: 2%;
    font-size: 80%;
}

.texto3 {
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 5%;
    padding-bottom: 5%;
}

.precios {
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: left;
    align-items: center;
}

.precioD,
.precioQ {
    text-align: center;
    width: fit-content;
    height: fit-content;
    background-color: #F3EEE1;
    border: 2px solid #000000;
    height: 100%;
    width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 100%;

}

.precioD {
    margin-left: 10%;
    margin-right: 10%;
}

.paquete {
    width: 35%;
    padding-left: 3%;
    font-size: 110%;
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 450px) {
    .titulo {
        font-size: 265%;
    }
    .texto,.texto3{
        font-size: 212%;
    }
    .precioD,.precioQ{
        font-size: 265%;
        padding-top: 0;
        padding-bottom: 0;
    }
    .paquete{
        font-size: 304.75%;
    }
    .precioD {
        margin-right: 5%;
    }
    .precioD {
        margin-left: 10%;
    }
}
