.Header {
    background-color: #F3EEE1;
    height: 100%;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.30);
    display: flex;
    align-items: center;

}

@media (max-width:390px) {
    .Header{
        height: 90px;
    }
    
}
.logo{
    width: 30%;
    height: fit-content;
    margin-left: 3%;
  
}
.color1,.color2,.color3,.color4{
    float: left;
    width: 25%;
    padding: 2%;
    color: black;
    text-align: center;
}
.paleta::after{
    content: "";
    clear: both;
    display: table;
}
.paleta{
    margin: 3%;
}
.color1 {
    color: white;
    background-color: #000000;
}
.color2 {
    background-color: #F3EEE1;
}
.color3 {
    background-color: #EC5E32;
}
.color4 {
    background-color: #F3F1A2;
}

.fila {
    grid-template-columns: auto auto;
    margin-bottom: 7px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.30);
}

.container {
    position: relative;
    background-color: #F3EEE1;
}

.img {
    width: 100%;
    height: max-content;
}

.titulo,
.texto,
.texto3 {
    position: absolute;
    color: #ffffff;
}

.titulo {
    top: 18%;
    left: 2%;
    font-size: 265%;
}

.texto,
.texto3 {
    top: 22%;
    left: 64%;
    right: 2%;
    font-size: 212%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.texto3 {
    color: #000000;
}

.botones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 5%;
    padding-bottom: 5%;
}

.precios {
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: left;
    align-items: center;
}

.precioD,
.precioQ {
    font-size: 265%;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background-color: #F3EEE1;
    border: 2px solid #000000;
    height: 100%;
    width: 30%;
}


.precioD {
    margin-right: 5%;
    margin-left: 10%;
}

.paquete {
    width: 35%;
    padding-left: 3%;
    font-size: 304.75%;
    display: flex;
    align-items: center;
}

.precios1{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.preciostitulo{
    display: flex;
    align-items: center;
}
.izquierda{
    padding: 2px;
    width: 500px;
}
.precioQue, .precioDol{
    font-size: 40px;
    padding-top: 0;
    margin: 10px;
    padding-bottom: 0;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background-color: #F3EEE1;
    border: 2px solid #000000;
    height: fit-content;
    width: 400px;
    font-family: "Century Gothic";
}


@media only screen and (max-width: 394px) {

.preciostitulo{
    font-size: 20px;
}
.precioQue{
    font-size: 20px;
}


    .texto,
    .texto3 {
        position: relative;
        color: #000000;
        font-size: 110%;
        left: 0%;
        padding: 8%;
        padding-left: 15%;
        padding-right: 15%;
        text-align: center;
    }

    .titulo {
        font-size: 100%;
        top: 5%;
        left: 30%;
    }

    .paquete {
        font-size: 100%;
    }

    .precioD,
    .precioQ {
        font-size: 100%;
    }

    .paquete {
        padding-left: 8%;
    }

    .precioD {
        margin-left: 15%;
    }
}