.todoOF1,
.todoOF2 ,.todoOF3,.todoOF4{
    position: relative;
    height: 82vh;
    margin-bottom: 3vh;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.40);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 100;
}
.todoOF4{
    height: 80vh;
}
.imgO,
.imgO1 {
    width: 100%;
    height: 62vh;
}
.imgO4{
    height: 40vh;
}

.imagennO {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tituloO,
.tituloO2,
.textoO,
.texto3O,
.texto2O {
    color: #ffffff;
}

.tituloO,
.tituloO2 {
    font-size: 5vh;
    position: absolute;
    top: 13vh;
    left: 4vw;
    z-index: 100;
}

.tituloO2 {
    top: 31vh;
}

.textoO,
.texto2O {
    position: absolute;
    top: 15vh;
    left: 62vw;
    right: 5vw;
    font-size: 4vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botonesO {
    height: 20vh;
    background-color: #F3EEE1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.preciosO {
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: left;
    align-items: center;
}

.precioDO,
.precioQO {
    font-size: 300%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background-color: #F3EEE1;
    border: 2px solid #000000;
    height: min-content;
    width: 30%;
}

.precioDO {
    margin-right: 5vw;
    margin-left: 10vw;
}

.paqueteO {
    width: 35%;
    padding-left: 3%;
    font-size: 400%;
    display: flex;
    align-items: center;
}
.cajasPrecios{
    width: 65%;
    justify-content: center;
    align-items: center;
}
.botonesO2{
    height: 40vh;
    background-color: #F3EEE1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 3vw;
    padding-bottom: 3vw;
    align-items: center;
}
.OprecioD,.OprecioQ{
    margin-left: 10vw;
    font-size: 300%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background-color: #F3EEE1;
    border: 2px solid #000000;
    margin-bottom: 3%;
    width: 30%;
}
.OprecioQ{
    margin-left: 5vw;
}

.Header {
    background-color: #F3EEE1;
    height: 100%;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.30);
    display: flex;
    align-items: center;

}

@media (max-width:390px) {
    .Header{
        height: 90px;
    }
    
}
.logo{
    width: 30%;
    height: fit-content;
    margin-left: 3%;
  
}
.color1,.color2,.color3,.color4{
    float: left;
    width: 25%;
    padding: 2%;
    color: black;
    text-align: center;
}
.paleta::after{
    content: "";
    clear: both;
    display: table;
}
.paleta{
    margin: 3%;
}
.color1 {
    color: white;
    background-color: #000000;
}
.color2 {
    background-color: #F3EEE1;
}
.color3 {
    background-color: #EC5E32;
}
.color4 {
    background-color: #F3F1A2;
}

.todo{
    position: relative;
    height: 82vh;
    margin-bottom: 3vh;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.40);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 100;
}

.img{
    width: 100%;
    height: 62vh;
}

.imagenn {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo,
.texto,
.texto3 {
    color: #ffffff;
}

.titulo {
    font-size: 5vh;
    position: absolute;
    top: 13vh;
    left: 4vw;
    z-index: 100;
}

.texto,
.texto3 {
    position: absolute;
    top: 15vh;
    left: 62vw;
    right: 5vw;
    font-size: 4.5vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.texto3 {
    color: #000000;
}

.botones {
    height: 20vh;
    background-color: #F3EEE1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.precios{
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: left;
    align-items: center;
}

.precioD,
.precioQ{
    font-size: 300%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background-color: #F3EEE1;
    border: 2px solid #000000;
    height: min-content;
    width: 30%;
}

.precioD{
    margin-right: 5vw;
    margin-left: 10vw;
}
.paquete {
    width: 35%;
    padding-left: 3%;
    font-size: 42px;
    display: flex;
    align-items: center;
}


.precios1{
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}
.precios2 {
    display: flex;
    align-items: center;
}
.preciostitulo{
    font-size: 304.75%;
    display: flex;
    align-items: center;
    margin-left: 15%;
    padding-right: 30px;
}
.izquierda{
    padding: 2px;
    width: 500px;
}
.precioQue, .precioDol{
    font-size: 40px;
    padding-top: 0;
    margin: 10px;
    padding-bottom: 0;
    text-align: center;
    height: fit-content;
    background-color: #F3EEE1;
    border: 2px solid #000000;
    height: fit-content;
    width: 400px;
    font-family: "Century Gothic";
}


@media only screen and (max-width: 394px) {

.preciostitulo{
    font-size: 20px;
    width: fit-content;
    margin-left: 15%;
}
.precios1 {
    display: flex;
    align-items: center;
}
.precios2 {
    display: flex;
    align-items: center;
}
.izquierda {
    width: 150px;
}
.precioQue{
    font-size: 20px;
    width: 120px;
}
.precioDol {
    width: 120px;
    font-size: 20px;
}


    .texto,
    .texto3 {
        position: relative;
        color: #000000;
        font-size: 110%;
        left: 0%;
        padding: 8%;
        padding-left: 15%;
        padding-right: 15%;
        text-align: center;
    }

    .Header {
        height: 10vh;
    }

    .todo {
        height: 60vh;
    }

    .img {
        height: 30vh;
    }

    .titulo {
        font-size: 2vh;
        top: 2vh;
        left: 25%;
        margin: auto;
    }

    .texto,
    .texto3 {
        color: #000000;
        text-align: center;
        position: relative;
        font-size: 2.4vh;
        background-color: #F3EEE1;
        padding: 7%;
        padding-left: 15%;
        padding-right: 15%;
        left: 0;
        top: 0;
        height: 20vh;
    }

    .botones {
        height: 10vh;
    }

    .paquete {
        font-size: 2.3vh;
    }

    .precioD,
    .precioQ {
        font-size: 2vh;
    }

    .Header {
        height: 10vh;
    }

    .todoOF1 {
        height: 40vh;
    }

    .todoOF2 {
        height: 60vh;
    }
    .todoOF3{
        height: 50vh;
    }
    .todoOF4{
        height: 50vh;
    }

    .imgO,
    .imgO1 {
        height: 30vh;
    }
    .imgO4{
        height: 30vh;
    }
    .tituloO,
    .tituloO2 {
        font-size: 2vh;
        top: 2vh;
        left: 10%;
        margin: auto;
    }

    .tituloO2 {
        top: 13vh;
    }

    .textoO,
    .texto3O,
    .texto2O {
        color: #000000;
        text-align: center;
        position: relative;
        font-size: 2vh;
        background-color: #F3EEE1;
        padding: 7%;
        padding-left: 15%;
        padding-right: 15%;
        left: 0;
        top: 0;
        height: 20vh;
    }
    .texto2O{
        height: 10vh;
    }
    .botonesO {
        height: 10vh;
    }

    .paqueteO {
        font-size: 1.6vh;
    }

    .precioDO,
    .precioQO,.OprecioD,.OprecioQ {
        font-size: 1.9vh;
    }
    .botonesO2{
        height: 20vh;
    }
}

