/* Estilos para el elemento .Container */
.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; /* Cambia la dirección del flexbox a columna */
  padding: 0;
  background-color: #F3EEE1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.30);
  font-family: 'century gothic';
}

/* Ajusta el ancho de los elementos internos y el espacio entre ellos */
.Container > * {
  flex: 1;
  margin: 3px;
  max-width: calc(47% - 6px);
}

.Final2 {
  margin-top: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 350px;
}

.Final {
  display: flex;
  width: 420px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #F3EEE1;
}

  .Button {
    background-color: #C74441;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  .Button:hover {
    background-color: #E7CA4C;
  }
  
  /* Logo and Social Media Icons */
.Logo {
  width: 155px;
  height: 85px;
  margin: 0 auto; /* Centra el logo horizontalmente */
  margin-top: 20px;
}

.LogoImg {
  display: flex;
  justify-content: center;
  width: 120%;
  height: fit-content;
}

.RedesSociales {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 15px;
  justify-content: center; /* Alinea los íconos de redes sociales a la izquierda */
}

.Nombre {
  margin-right: 10px;
  color: #000000;
  font-size: 16px;
}

.TwImg {
  width: 55px;
  height: 55px;
  height: fit-content;
}

.BotonTwLinkIcono,
.BotonYtLinkIcono,
.BotonInstaLinkIcono,
.BotonFbLinkIcono {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

  /* Additional Styles */
  .body {
    background-color: #000;
    color: #fff;
    font-family: 'csentury gothic';
    margin-top: 0px;
  }

  .ordenar {
    display: flex;
    flex-direction: column-reverse;
  }

  .wrapper {
    text-align: center;
    width: 420px;
    background-color: #F4F197;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 0px;
    padding: 10px 40px;
    margin-top: 20px;
    margin-right: 75px;
  }

  .Main1 {
    margin-left: 75px;
  }

  .Contacto1 {
    font-size: 30px;
    text-align: center;
    color: #000000;
    display: flex;
    width: 420px;
    justify-content: center;
    margin-top: 10px;
  }

  .Contacto {
    font-size: 5px;
    text-align: center;
    color: #F4F197;
  }

  .wrapper .Caja {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #F3EEE1;
    margin: 20px 0;
    border-radius: 0px;
    color: #fff;
  }

  .Caja input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 0px;
    font-size: 12px;
    color: black;
    padding: 20px 45px 20px 20px;
  }

  .Caja input::placeholder {
    color: black;
    font-weight: bold;
  }

  .Caja i {
    display: flex;
    align-items: center;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }

  .wrapper .button {
    width: 100%;
    height: 45px;
    background: #EC5E32;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
  }

  .button a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
  }

  .button a:hover {
    text-decoration: underline;
  }

  @media only screen and (max-width: 393px) {

.Container {
  display: flex;
  flex-direction: column; /* Cambia la dirección del flexbox a columna */
  align-items: center; /* Centra horizontalmente los elementos en el contenedor */
  text-align: center;
  padding: 0;
  background-color: #F3EEE1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.30);
  font-family: 'century gothic';
}

/* Ajusta el ancho de los elementos internos y el espacio entre ellos */
.Container > * {
  flex: 1; /* Hace que cada elemento tome igual de espacio disponible */
  margin: 3px; /* Espacio entre los elementos, puedes ajustarlo según tus preferencias */
  max-width: calc(90% - 6px); /* Ajusta el ancho máximo de los elementos */
}

/* Espacio adicional en la parte inferior del contenedor */
.Container::after {
  content: "";
  flex: 1; /* Añade espacio adicional en la parte inferior */
  max-height: 5px; /* Ajusta el espacio adicional en la parte inferior */
}

  
  .Button {
    background-color: #C74441;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  .Button:hover {
    background-color: #E7CA4C;
  }
  
  /* Logo and Social Media Icons */
.Logo {
  width: 155px;
  height: 85px;
  margin: 0 auto; /* Centra el logo horizontalmente */
  margin-top: 20px;
}

.LogoImg {
  display: flex;
  justify-content: center;
  width: 120%;
  height: fit-content;
}

.RedesSociales {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 15px;
  justify-content: flex-start; /* Alinea los íconos de redes sociales a la izquierda */
}

.Nombre {
  margin-right: 10px;
  color: #000000;
  font-size: 16px;
}

.TwImg {
  width: 55px;
  height: 55px;
  height: fit-content;
}

.BotonTwLinkIcono,
.BotonYtLinkIcono,
.BotonInstaLinkIcono,
.BotonFbLinkIcono {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

  /* Additional Styles */
  .body {
    background-color: #000;
    color: #fff;
    font-family: 'csentury gothic';
    margin-top: 0px;
  }

  .ordenar {
    display: flex;
    flex-direction: column-reverse;
  }

  .wrapper {
    text-align: center;
    width: 349px;
    background-color: #F4F197;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 0px;
    padding: 10px 40px;
    margin-top: 2.2px;
    margin-right: 0px;
  }

  .Main1 {
    margin-left: 0px;
  }

  .Contacto1 {
    color: #F3EEE1;
  }

  .Contacto {
    font-size: 30px;
    text-align: center;
    color: #000000;
  }

  .wrapper .Caja {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #F3EEE1;
    margin: 20px 0;
    border-radius: 0px;
    color: #fff;
  }

  .Caja input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 0px;
    font-size: 12px;
    color: black;
    padding: 20px 45px 20px 20px;
  }

  .Caja input::placeholder {
    color: black;
    font-weight: bold;
  }

  .Caja i {
    display: flex;
    align-items: center;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }

  .wrapper .button {
    width: 100%;
    height: 45px;
    background: #EC5E32;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
  }

  .button a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
  }

  .button a:hover {
    text-decoration: underline;
  }

  .Final {
    color: #000000;
    display: flex;
    width: 349px;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
  }

  .Final2 {
    color: #F3EEE1;
    font-size: 1px;
  }
  
  }