.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nosotrosparrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15%;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "century Gothic";
}

.videocont{
  display: flex;
  justify-content: center;
}

.nosotros {
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-family: "century Gothic";
}

.paquetes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.personalimage {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 2px;
}

.personaltitle {
  font-size: 20px;
  font-family: "century Gothic";
}

.personal1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 350px;
  background-color: #F4F197;
  margin: 10px;
  font-family: "century Gothic";
}

.personal2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 350px;
  background-color: #F4F197;
  margin: 10px;
  font-family: "century Gothic";
}

.personal3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 350px;
  background-color: #F4F197;
  margin: 10px;
  font-family: "century Gothic";
}

.personal2texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 320px;
  font-family: "century Gothic";
}

.personalbutton {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
  width: 100px;
  font-size: large;
  background-color: transparent;
  font-family: "century Gothic";
  font-weight: bold;
  border: solid black 2px;
}

@media only screen and (min-width: 650px) {

  .todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nosotrosparrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15%;
    color: white;
    text-align: center;
    font-size: 40px;
  }

  .nosotros {
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 64px;
    margin-top: 10px;
  }

  .personalimage {
    width: 480px;
    height: 300px;
    display: flex;
    padding: 10px;
  }

  .personal1,
  .personal2,
  .personal3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 450px;
    background-color: #F4F197;
    margin: 10px;
  }

  .personalimage{
    height: 500px;
    width: 400px;
  }
  .paquetes{
    display: flex;
    flex-direction: row;
  }
  
}