.todo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nosotrosparrafo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  color:white;
}
.nosotros{
  background-image: url("../../../../public/fondonosotros.jpeg");
  background-size: cover;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
}